<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delivery project</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type = "text/JavaScript" src = " https://MomentJS.com/downloads/moment.js"></script>
  <script src="/js/deleteEntity.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!--        <a class="navbar-brand" href="#">Delivery project</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">CompanyName</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/create-posting">Create posting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/postings">Postings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/offices">Our offices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h1> Список постингов </h1>
  </div>
  <table class="table table-striped table-bordered table-hover" id="tablePostings">
    <thead class="table-dark">
    <tr>
      <th>Номер постинга</th>
      <th>Тариф</th>
      <th>Email отправителя</th>
      <th>Email получателя</th>
      <th>ПВЗ отправления</th>
      <th>ПВЗ получения</th>
      <th>Статус</th>
      <th>Дата создания</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody id="postingsTbody">

    </tbody>
  </table>
</div>

<script>

  $.ajax({
    url: '/getPostingDtoList',
    type: 'GET',
    dataType: 'json',
    success: function(postingDtoList) {
      var postingRow, postingNumber;
      for (var i in postingDtoList) {
        postingNumber = String(postingDtoList[i].postingNumber);
        console.log(postingNumber)
        postingRow = '<tr>';
        postingRow += `<td> <a href="/postings/show/${postingDtoList[i].postingNumber}" target="_blank">
                                  ${postingDtoList[i].postingNumber}</a>
                            </td>`;
        postingRow += `<td> ${postingDtoList[i].tariffName} </td>`;
        postingRow += `<td> ${postingDtoList[i].senderName} </td>`;
        postingRow += `<td> ${postingDtoList[i].receiverName} </td>`;
        postingRow += `<td> ${postingDtoList[i].officeFromName} </td>`;
        postingRow += `<td> ${postingDtoList[i].officeToName} </td>`;
        postingRow += `<td> ${postingDtoList[i].status} </td>`;
        postingRow += `<td> ${moment(postingDtoList[i].createdAt).format('Do MMM YYYY')} </td>`;
        postingRow += `<td>  <a onclick="deleteEntity('${postingDtoList[i].postingNumber}')" class = "btn btn-danger">Delete</a> </td>`;
        postingRow += '</tr>';
        $('#postingsTbody').append(postingRow);

      }
    },
      error: function() {
        alert('Произошла ошибка.');
      }
    });

</script>

</body>
</html>