<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Delivery project</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!--        <a class="navbar-brand" href="#">Delivery project</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--                <li class="nav-item">-->
        <!--                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>-->
        <!--                </li>-->
        <!--        <a class="navbar-brand" href="#">Delivery project</a>-->

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">CompanyName</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/create-posting}">Create posting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/postings}">Postings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/offices}">Our offices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h1> Список постингов </h1>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Номер постинга</th>
      <th>Тариф</th>
      <th>Email отправителя</th>
      <th>Email получателя</th>
      <th>ПВЗ отправления</th>
      <th>ПВЗ получения</th>
      <th>Статус</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="posting: ${postings}">
      <td>
        <a th:href="@{/postings/show/{postingNumber}(postingNumber=${posting.postingNumber})}"
           th:text="${posting.postingNumber}"
           target="_blank" />
      </td>
      <td th:text="${posting.tariffName}"></td>
      <td th:text="${posting.senderEmail}"></td>
      <td th:text="${posting.recieverEmail}"></td>
      <td th:text="${posting.officeFromID}"></td>
      <td th:text="${posting.officeToID}"></td>
      <td th:text="${posting.status}"></td>
      <td>
        <a th:href="@{/postings/edit/{postingNumber}(postingNumber=${posting.postingNumber})}"
           class = "btn btn-primary">Update</a>

        <!--                    todo: реализовать нормальное удаление-->
        <a th:href="@{/postings/delete{postingNumber}(id=${posting.postingNumber})}"
           class = "btn btn-danger">Delete</a>

      </td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>